/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap')
;
/* Changing the main font and background colour */

body {
	font-family: "Nunito Sans", sans-serif;
	background-color: #f1f2f2;

}
/* Changing the background colour for the header */

header {
	font-family: "Righteous", sans-serif;
	background-color: transparent
;
}

.custom-bg-red {
    background-color: #ff3131;
    color: black;
}


/* Changing the background color for the navigation bar */



.navbar {
	font-family: "Righteous", sans-serif;
	background-color: #ff3131;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #ff3131;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.righteous-regular-big {
  font-family: "Righteous", sans-serif;
  font-size: 100px;
  font-weight: 400;
}

.righteous-regular-smol {
  font-family: "Righteous", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.back-video {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;	
}

 .button-container {
            position: absolute;
            top: 50%; /* Adjust as per your requirement */
            left: 50%; /* Adjust as per your requirement */
            transform: translate(-50%, -50%);
        }

@media (min-aspect-ratio: 16/9){
	.back-video{
		width: 100%;
		height: auto;
	}
}

@media (max-aspect-ratio: 16/9){
	.back-video{
		width: auto;
		height: 100%;
	}
}

#navbar {
    animation: fadeIn 3s ease; /* Fade in animation */
}

#footer {
    animation: fadeIn 3s ease; /* Fade in animation */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

